html,body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: inherit;
}

html {
  background: #ecf0f1;
  font-family: sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  font-family: 'Merriweather', serif;
}

.content{
  padding: 1em;
  padding-top: 32em;
  color: white;
}

.name{
  width: 30%;
}

.intro{
  width: 30%;
}

.banner{
  background-image: url('./rachel.jpg');
  background-size: cover;
  height: 800px;
  background-position: center;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #0e76a8;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}